

.hide{
    display: none;
}
li{
	list-style: none;
}
#mapcontainer{

	width: 300px;
	height: 300px;
}
#resultMap{
    width: 150px;
	height: 150px;
}
#dialog{
  
    z-index: 10;
    position: absolute;
    top:30%;
    left: 30%;
    -webkit-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.42);
-moz-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.42);
box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.42);
    background-color:#FBF8E8;
}
.blur *
{
    text-shadow: 0 0 10px rgba(0, 0, 0, .5) !important;
    color: transparent !important;
    background-image: none !important;
    border-color: rgba(0, 0, 0, .05) !important;
    /* disable the pointer events for blurred zones */
    -moz-pointer-events: none !important;
    -webkit-pointer-events: none !important;
    pointer-events: none !important;
    
/*
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px); 
    filter: blur(3px);
*/
}
.mask{
    width:100%;
    height: 2000px;
    overflow:hidden;
    top: 0;
    bottom: 0;
    background-color: rgba(59,246,221,0.5);
    position: absolute;
    z-index: 5;
}

#createQuestPage{
	background-color:#FEFFF7;
	width:15rem;
	height:18rem;
	margin-left:2rem;
	margin-top:3rem;
	
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:100;
	
	box-shadow:#8E8E8E 0px 2px 2px;
	}

.startQuest{
	text-align:center;
	}	
.startQuest  h1{
		font-size:1.1rem;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:300;
	color:#FFFFFF;
	/*padding-top:3rem;*/
	background-color:#cc463f;
	padding-top:0.5rem;
	padding-bottom:0.5rem;
	box-shadow:#727272 0px 1px 1px;
	}	
.startQuest h2{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:200;
	font-size:1em;
	width:13.2rem;
	margin-left:0.8rem;
	}	
.startQuest p{
	font-size:0.8rem;
	width:13.2rem;
	margin-left:0.8rem;
	}	
#createContainer  input{
   width:13rem;
	outline:none;
	/*background-color:#F7F7F0;*/
	background-color:#FFFDF1;
	
	/*border-top:none;
	border-left:none;
	border-right:none;*/
	border-left:rgba(0,0,0,0.3) solid 1px;
	border-right:rgba(0,0,0,0.3) solid 1px;
	border-top:rgba(0,0,0,0.3) solid 1px;
	border-bottom:#BEBEBE solid 1px;
	box-shadow:#CFCFCF 0px 1px 1px;
	
	font-size:1.5rem;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:100;
	margin-top:0.5rem;
	margin-left:0.8rem;
	}	
	
::-webkit-input-placeholder {
   color:#515151;
   font-size:1rem;
   padding-top:0.3rem;
   padding-left:0.2rem;
}

:-moz-placeholder { /* Firefox 18- */
   color:#515151;
   font-size:1rem;
   padding-top:0.3rem;
   padding-left:0.2rem;
}

::-moz-placeholder {  /* Firefox 19+ */
   color:#515151;
   font-size:1rem;
   padding-top:0.3rem;
   padding-left:0.2rem;
}

:-ms-input-placeholder {  
   color:#515151;
   font-size:1rem;
   padding-top:0.3rem;
   padding-left:0.2rem;
}	

#nextQuest2ndPage{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:100;
	font-size:0.9rem;
	color:#FFFFFF;
	margin-top:0.8rem;
	margin-left:0.8rem;
	/*background-color:rgba(255,255,255,0.5);*/
	background-color:#cc463f;
	/*border:1px #515151 solid;*/
	border:none;
	box-shadow:#CFCFCF 0px 2px 1px;

	width:13.2rem;
	outline:none;
	}	
	
.backbtn1{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:100;
	font-size:0.9rem;
	color:#FFFFFF;
	margin-top:0.8rem;
	margin-bottom:0.8rem;
	margin-left:0.8rem;
	padding-top:0.1rem;
	padding-bottom:0.1rem;
	/*background-color:rgba(255,255,255,0.5);*/
	background-color:#cc463f;
	/*border:1px #515151 solid;*/
	border:none;
	box-shadow:#CFCFCF 0px 2px 1px;
	width:13.2rem;

	}


/*******************************************************************************************************************************************/
/*******************************************************************************************************************************************/
/*******************************************************************************************************************************************/
/*******************************************************************************************************************************************/
#createQuestMapPage{
	background-color:#FFFFFF;
	margin-top:1rem;
	width:18rem;
	margin-left:1rem;
	box-shadow:#8E8E8E 0px 2px 2px;
	}
	
#locationContainer h1{
	font-size:1.1rem;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:300;
	color:#FFFFFF;
	/*padding-top:3rem;*/
	background-color:#cc463f;
	padding-top:0.5rem;
	padding-bottom:0.5rem;
	box-shadow:#727272 0px 1px 1px;
	}	
#locationContainer #locationHintArea p{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:200;
	text-align:center;
	}
#locationContainer textarea{
	width:16rem;
	margin-left:0.8rem;
	outline:none;
	height:3rem;
	}	
	
		
#getGps{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:100;
	color:#FFFFFF;
    background-color:#cc463f;
	margin-left:0.5rem;
	padding-top:0.2rem;
	padding-left:0.3rem;
	padding-bottom:0.2rem;
	width:4rem;
	box-shadow:#727272 0px 1px 1px;
	}	
#mapcontainer{
	width:18rem;
	box-shadow:#727272 0px 1px 1px;
	}
	
#nextQuestPage2{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:100;
	font-size:0.9rem;
	color:#FFFFFF;
	margin-top:0.3rem;
	margin-left:2rem;
	/*background-color:rgba(255,255,255,0.5);*/
	background-color:#cc463f;
	/*border:1px #515151 solid;*/
	border:none;
	box-shadow:#CFCFCF 0px 2px 1px;

	width:13.2rem;
	outline:none;
	
	}	
#locationSubmit{
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:100;
	font-size:0.9rem;
	color:#FFFFFF;
	margin-top:1rem;
	margin-left:2rem;
	
	padding-top:0.2rem;
	padding-left:0rem;
	padding-bottom:0.2rem;
	
	/*background-color:rgba(255,255,255,0.5);*/
	background-color:#cc463f;
	/*border:1px #515151 solid;*/
	border:none;
	box-shadow:#CFCFCF 0px 2px 1px;

	width:13.2rem;
	outline:none;
	}
		
.information{
	margin-left:2rem;
	width:13.2rem;
	margin-top:1rem;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:100;
	background-color:#FFFCE8;
	border:1px solid #B6B6B6;
	}	
.back2{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:100;
	color:#FFFFFF;
    background-color:#cc463f;
	
	margin-left:0.4rem;
	margin-top:1rem;
	margin-bottom:1rem;
	
	padding-top:0.2rem;
	padding-left:0.3rem;
	padding-bottom:0.2rem;
	width:4rem;
	border:none;
	box-shadow:#727272 0px 1px 1px;
	}	
/*******************************************************************************************************************************************/







